body {
	font:20px "Arial", sans-serif;
}

h1 {
	color: red;
	font-size: 200%;
}
p {
	display: inline-block;
	border:10px solid silver;
	border-radius: 10px;
}

p:hover {
	background: red;
	color: green;
}